{% extends "./base.html" %}

{% load static %}

{% block content %}

  <style>
    .filterDiv {
      float: left;
      background-color: #2196F3;
      color: #ffffff;
      text-align: center;
      margin: 2px;
      display: none;
    }
    
    .show {
      display: block;
    }
    
    .container {
      overflow: hidden;
    }
    
    /* Style the buttons */
    .index_btn {
      border: none;
      outline: none;
      padding: 12px 16px;
      background-color: #f1f1f1;
      cursor: pointer;
    }
    
    .btn:hover {
      background-color: #2196F3;
    }
    
    .btn.active {
      background-color:blue;
      color: white;
    }
  </style>
  <br>
  <div style="margin-left: 20%; margin-right: 20%;">
    <div style="background-color: rgba(0, 0, 0, 0.15); ">
        <br>
        <div style="padding-left: 2%; padding-right: 2%;">
          <!-- Recipe Logo -->
          <img
          src="{% static 'assets/ingredients.png' %}"
          alt=""
          height="40"
          /><br>
          <!-- Recipe Logo -->

          <!-- Link To View All Recipes -->
          <a href='/ingredients' style="color: aliceblue;">View All</a>
          <!-- Link To View All Recipes -->

          <br><br>

          <!-- Keyword Search Recipe -->
          <form action="" method="post">
            {% csrf_token %}
              <div class="input-group rounded">
                <label for="Name"></label>
                <input id="Name" type="text" class="form-control rounded"  name="Name" placeholder="Keyword Search Ingredient"/>&nbsp
                <!-- <input type="submit" class="btn btn-primary rounded" value="Search"> -->
                <button class="btn btn-primary rounded" type="submit" name="keyword_search">
                  <i class="fa fa-search"></i>
                </button>
              </div>
          </form>
          <!-- Keyword Search Recipe -->
          <hr>

          <!-- Buttons trigger collapse -->
          <a
          data-mdb-toggle="collapse"
          href="#collapseExample"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
          style="font-size: medium; color: lightblue"
          >
            Advanced Search
          </a>

          <!-- Collapsed content -->
          <div class="collapse mt-3" id="collapseExample">
            <!-- Keyword Search Recipe -->
            <form action="" method="post">
              {% csrf_token %}
                <div class="input-group rounded">
                  <label for="Name"></label>
                  <input id="Name" type="text" class="form-control rounded"  name="Name" placeholder="Search Ingredient By Micronutrient"/>&nbsp
                  <button class="btn btn-primary rounded" type="submit" name="search_by_nutrient">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
                <p>If you want more than 10 unit ash but less than 10 unit fiber per 100g ingredient, please search: <br> <b>ash,more than, 10; fiber, less than, 10</b> </p>
            </form>
            <!-- Keyword Search Recipe -->
            <div id="myBtnContainer">
              <!-- <button class="btn active" onclick="filterSelection('all')"> Show all</button> -->
              <!-- <button class="btn btn-primary active" onclick="filterSelection('Macro')"> Macronutrient</button> -->
              <button class="btn btn-primary active" onclick="filterSelection('A-C')"> A-C</button>
              <button class="btn btn-primary" onclick="filterSelection('D-G')"> D-G</button>
              <button class="btn btn-primary" onclick="filterSelection('H-K')"> H-K</button>
              <button class="btn btn-primary" onclick="filterSelection('L-O')"> L-O</button>
              <button class="btn btn-primary" onclick="filterSelection('P-S')"> P-S</button>
              <button class="btn btn-primary" onclick="filterSelection('T-W')"> T-W</button>
              <button class="btn btn-primary" onclick="filterSelection('X-Z')"> X-Z</button>
            </div>
            
            <div class="container" style="padding-top: 20px; font-size:20px; color: lightcyan;">
              <!-- {% for m in macronutrient %}
              <div class="filterDiv badge rounded-pill bg-light text-black Macro" >{{ m }}</div>
              {% endfor %} -->

              {% for m in micronutrient_a %}
              <div class="filterDiv badge rounded-pill bg-light text-black A-C" >{{ m.NutrientName }}</div>
              {% endfor %}

              {% for m in micronutrient_d %}
              <div class="filterDiv badge rounded-pill bg-light text-black D-G" >{{ m.NutrientName }}</div>
              {% endfor %}

              {% for m in micronutrient_h %}
              <div class="filterDiv badge rounded-pill bg-light text-black H-K" >{{ m.NutrientName }}</div>
              {% endfor %}

              {% for m in micronutrient_l %}
              <div class="filterDiv badge rounded-pill bg-light text-black L-O" >{{ m.NutrientName }}</div>
              {% endfor %}

              {% for m in micronutrient_p %}
              <div class="filterDiv badge rounded-pill bg-light text-black P-S" >{{ m.NutrientName }}</div>
              {% endfor %}

              {% for m in micronutrient_t %}
              <div class="filterDiv badge rounded-pill bg-light text-black T-W" >{{ m.NutrientName }}</div>
              {% endfor %}
            
              {% for m in micronutrient_x %}
              <div class="filterDiv badge rounded-pill bg-light text-black X-Z" >{{ m.NutrientName }}</div>
              {% endfor %}
            </div>
          </div>
          <br>
          {% if keyword_entered %}
            {% if ingredientInfo %}
              <p style="font-family: fantasy; font-size:xx-large;">Ingredient Result for {{ keyword_entered }}: </p>
              <table class="table align-middle">
                <thead>
                  <tr class="table-light">
                    <th scope="col">IngredientID</th>
                    <th scope="col">Ingredient Name</th>
                    <th scope="col">Calorie</th>
                    <th scope="col">Protein</th>
                    <th scope="col">Fat</th>
                    <th scope="col">Carbohydrate</th>
                    <th scope="col">Weight</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ingredient in ingredientInfo%}
                  <tr class="table-light">
                    <td>{{ ingredient.IngredientID }}</td>
                    <td>{{ ingredient.IngredientName }}</td>
                    <td>{{ ingredient.Calorie }} cal</td>
                    <td>{{ ingredient.Protein }} g</td>
                    <td>{{ ingredient.Fat }} g</td>
                    <td>{{ ingredient.Carbohydrate }} g</td>
                    <td>100 g</td>
                  </tr>
                  {% endfor%}
                </tbody>
              </table>
            {% elif ingredient_want %}
              <p style="font-family: fantasy; font-size:xx-large;">Ingredient Result for {{ keyword_entered }}: </p>
              <table class="table align-middle">
                <thead>
                  <tr class="table-light">
                    <th scope="col">IngredientID</th>
                    <th scope="col">Ingredient Name</th>
                    <th scope="col">Nutrient Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Weight</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ingredient in ingredient_want %}
                  <tr class="table-light">
                    <td>{{ ingredient.IngredientID }}</td>
                    <td>{{ ingredient.IngredientName }}</td>
                    <td>{{ ingredient.NutrientName }}</td>
                    <td>{{ ingredient.Quantity }}</td>
                    <td>{{ ingredient.Unit }}</td>
                    <td>100 g</td>
                  </tr>
                  {% endfor%}
                </tbody>
              </table>
            {% else %}
              <div>
                <p style="font-family: fantasy; font-size:xx-large; text-align: center;">No Such Ingredient</p>
              </div>
            {% endif %}
          {% endif %}
        </div>        
    </div>
  </div>

<script>
  filterSelection("A-C")
  function filterSelection(c) {
    var x, i;
    x = document.getElementsByClassName("filterDiv");
    if (c == "all") c = "";
    for (i = 0; i < x.length; i++) {
      w3RemoveClass(x[i], "show");
      if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
    }
  }
  
  function w3AddClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
    }
  }
  
  function w3RemoveClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      while (arr1.indexOf(arr2[i]) > -1) {
        arr1.splice(arr1.indexOf(arr2[i]), 1);     
      }
    }
    element.className = arr1.join(" ");
  }
  
  // Add active class to the current button (highlight it)
  var btnContainer = document.getElementById("myBtnContainer");
  var btns = btnContainer.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function(){
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
    });
  }
</script>
{% endblock content %}
