{% extends "./base.html" %}

{% load static %}

{% block content %}
<!-- <style>
  * {
    box-sizing: border-box;
  }
  
  #myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #myTable th, #myTable td {
    text-align: left;
    padding: 12px;
  }
  </style> -->
  <br>
  <div style="margin-left: 20%; margin-right: 20%;">
    <div style="background-color: rgba(0, 0, 0, 0.15); ">
        <br>
        <div style="padding-left: 2%; padding-right: 2%;">
          <!-- Recipe Logo -->
          <img
          src="{% static 'assets/ingredients.png' %}"
          alt=""
          height="40"
          /><br>
          <!-- Recipe Logo -->

          <!-- Link To View All Recipes -->
          <a href='/ingredients' style="color: aliceblue;">View All</a>
          <!-- Link To View All Recipes -->

          <br><br>

          <!-- Keyword Search Recipe -->
          <form action="" method="post">
            {% csrf_token %}
              <div class="input-group rounded">
                <label for="Name"></label>
                <input id="Name" type="text" class="form-control rounded"  name="Name" placeholder="Keyword Search Ingredient"/>&nbsp
                <!-- <input type="submit" class="btn btn-primary rounded" value="Search"> -->
                <button class="btn btn-primary rounded" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
          </form>
          <!-- Keyword Search Recipe -->
          <hr>

          <!-- Buttons trigger collapse -->
          <a
          data-mdb-toggle="collapse"
          href="#collapseExample"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
          style="font-size: medium; color: lightblue"
          >
            Advanced Search
          </a>
          <!-- Collapsed content -->
          <div class="collapse mt-3" id="collapseExample">
            <input type="text" id="myInput" class="form-control rounded" onkeyup="myFunction()" placeholder="Search for micronutrient names.." title="Type in a name">
              <br>
              <table id="myTable" class="table align-middle">
                <tr class="table-light">
                  <th style="width:60%;">Micronutrient ID</th>
                  <th style="width:40%;">Micronutrient Name</th>
                </tr>
                {% for m in micronutrient %}
                <tr class="table-light">
                  <td>{{ m.NutrientID }}</td>
                  <td>{{ m.NutrientName }}</td>
                </tr>
                {% endfor %}
              </table>
          </div>

          <br>
          {% if keyword_entered %}
            {% if ingredientInfo %}
              <p style="font-family: fantasy; font-size:xx-large;">Ingredient Result for {{ keyword_entered }}: </p>
              <table class="table align-middle">
                <thead>
                  <tr class="table-light">
                    <th scope="col">IngredientID</th>
                    <th scope="col">Ingredient Name</th>
                    <th scope="col">Calorie</th>
                    <th scope="col">Protein</th>
                    <th scope="col">Fat</th>
                    <th scope="col">Carbohydrate</th>
                    <th scope="col">Weight</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ingredient in ingredientInfo%}
                  <tr class="table-light">
                    <td>{{ ingredient.IngredientID }}</td>
                    <td>{{ ingredient.IngredientName }}</td>
                    <td>{{ ingredient.Calorie }} cal</td>
                    <td>{{ ingredient.Protein }} g</td>
                    <td>{{ ingredient.Fat }} g</td>
                    <td>{{ ingredient.Carbohydrate }} g</td>
                    <td>100 g</td>
                  </tr>
                  {% endfor%}
                </tbody>
              </table>
            {% else %}
              <div>
                <p style="font-family: fantasy; font-size:xx-large; text-align: center;">No Such Ingredient</p>
              </div>
            {% endif %}
          {% endif %}
        </div>        
    </div>
  </div>
  {% if recipeInfo %}
      <div class="center">
          <table>
              <tr>
                  <th>Recipe Name</th>
                  <th>Average Rating (#Ratings)</th>
                  <th>Picture</th>
              </tr>
              {% for recipe in recipeInfo %}
              <tr>
                  <td><a href="{% url 'show_recipe' recipe.recipeid %}">{{ recipe.name }}</a></td>
                  <td>{{ recipe.avgrating}} ({{ recipe.ratingcount}})</td>
                  <td><a href="{{ recipe.pictureurl }}"><img src="{{ recipe.pictureurl }}" alt="{{ recipe.name}}" style="width: 40%;"></a><br>                  </td>
              </tr>
              {% endfor %}
          </table>
      </div>
  {% endif %}

<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
{% endblock content %}
