<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
  </head>
  <body>
    <p style="text-align: center; padding-top: 100px;"><img src="https://ranrandy.github.io/title.png" alt='PeopleEatSmart' /></p>
    <br><br>
    {% if query_result %}
        <div style="text-align: center;">
          {% for i in query_result %}
            <p>IngredientName: {{i.IngredientName}}   Count:{{i.randy}} </p>
          {% endfor %}
        </div>
    {% else %}
        <p>no query result</p>
    {% endif %}

  </body>
</html>
