{% extends "./base.html" %}

{% load static %}

{% block content %}
  <br>
  <div style="margin-left: 20%; margin-right: 20%;">
    <div style="background-color: rgba(0, 0, 0, 0.15); ">
        <br>
        <div style="padding-left: 2%; padding-right: 2%;">
          <!-- Recipe Logo -->
          <img
          src="{% static 'assets/recipe.png' %}"
          alt=""
          height="40"
          /><br>
          <!-- Recipe Logo -->

          <!-- Link To View All Recipes -->
          <a href='/recipes' style="color: aliceblue;">View All</a>
          <!-- Link To View All Recipes -->

          <br><br>

          <!-- Keyword Search Recipe -->
          <form action="" method="post">
            {% csrf_token %}
              <div class="input-group rounded">
                <label for="Name"></label>
                <input id="Name" type="text" class="form-control rounded"  name="Name" placeholder="Keyword Search Recipe"/>&nbsp
                <!-- <input type="submit" class="btn btn-primary rounded" value="Search"> -->
                <button class="btn btn-primary rounded" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
          </form>
          <!-- Keyword Search Recipe -->
          <hr><br>
          {% if keyword_entered %}
            {% if recipe_1 and recipe_2 and recipe_3 %}
              <p style="font-family: fantasy; font-size:xx-large;">Recipe Result for {{ keyword_entered }}: </p>
              <div class="row" style="color: black">
                <div class="col-lg-4 col-md-12 mb-4">
                  {% for recipe in recipe_3 %}
                    <div class="card">
                      <a href="{% url 'show_recipe' recipe.RecipeID %}">
                        <img
                        src="{{ recipe.PictureURL }}"
                        class="card-img-top"
                        alt="..."
                        max-height="30px"
                      />
                      </a>
                      <div class="card-body">
                        <h5 class="card-title">{{ recipe.Name }}</h5>
                        <p class="card-text">
                          {{ recipe.AvgRating }}({{ recipe.RatingCount}})
                        </p>
                      </div>
                    </div>
                    <br>
                  {% endfor %}
                </div>
                <div class="col-lg-4 col-md-12 mb-4">
                  {% for recipe in recipe_1 %}
                    <div class="card">
                      <a href="{% url 'show_recipe' recipe.RecipeID %}">
                        <img
                          src="{{ recipe.PictureURL }}"
                          class="card-img-top"
                          alt="..."
                          max-height="30px"
                        />
                      </a>
                      <div class="card-body">
                        <h5 class="card-title">{{ recipe.Name }}</h5>
                        <p class="card-text">
                          {{ recipe.AvgRating }}({{ recipe.RatingCount}})
                        </p>
                      </div>
                    </div>
                    <br>
                  {% endfor %}
                </div>
                <div class="col-lg-4 col-md-12 mb-4">
                  {% for recipe in recipe_2 %}
                    <div class="card">
                      <a href="{% url 'show_recipe' recipe.RecipeID %}">
                        <img
                        src="{{ recipe.PictureURL }}"
                        class="card-img-top"
                        alt="..."
                        max-height="30px"
                      />
                      </a>
                      <div class="card-body">
                        <h5 class="card-title">{{ recipe.Name }}</h5>
                        <p class="card-text">
                          {{ recipe.AvgRating }}({{ recipe.RatingCount}})
                        </p>
                      </div>
                    </div>
                    <br>
                  {% endfor %}
                </div>
              </div>
            {% else %}
              <div>
                <p style="font-family: fantasy; font-size:xx-large; text-align: center;">No Such Recipe</p>
              </div>
            {% endif %}
          {% endif %}

          
        </div>        
    </div>
  </div>

  {% if recipeInfo %}
      <div class="center">
          <table>
              <tr>
                  <th>Recipe Name</th>
                  <th>Average Rating (#Ratings)</th>
                  <th>Picture</th>
              </tr>
              {% for recipe in recipeInfo %}
              <tr>
                  <td><a href="{% url 'show_recipe' recipe.recipeid %}">{{ recipe.name }}</a></td>
                  <td>{{ recipe.avgrating}} ({{ recipe.ratingcount}})</td>
                  <td><a href="{{ recipe.pictureurl }}"><img src="{{ recipe.pictureurl }}" alt="{{ recipe.name}}" style="width: 40%;"></a><br>                  </td>
              </tr>
              {% endfor %}
          </table>
      </div>
  {% endif %}
{% endblock content %}
