<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
  </head>
  <style>
    .user {
        padding-top: 30px;
    }
  </style>
  <body>
    <p style="text-align: left; padding: 10px;"><img src="https://ranrandy.github.io/title.png" alt='PeopleEatSmart' width="20%"/></p>
    {% if recipe %}
        <div style="text-align: left; padding-left: 30px;">
            <h3>{{ recipe.name }}</h3>
            <p>Rating: {{ recipe.avgrating}} ({{ recipe.ratingcount}})</p>
            <a href="{{ recipe.pictureurl }}"><img src="{{ recipe.pictureurl }}" alt="{{ recipe.name}}"></a><br>
        </div>
    {% else %}
        <p>No such recipe</p>
    {% endif %}
    <form action="" method="post">
      {% csrf_token %}
      <div style="text-align: left; padding-left: 30px;">
          <div class="user">
              <!-- <label for="UserName">UserName: </label>
              <br>
              <input id="UserName" type="text" name="UserName" class="input" maxlength="100" required> -->
          </div>
      </div>
  </form>
  </body>
</html>