{% extends "./base.html" %}

{% load static %}

{% block content %}
  <br>
  <div style="margin-left: 20%; margin-right: 20%;">
    <div style="background-color: rgba(0, 0, 0, 0.15); ">
        <br>
        <div style="padding-left: 2%; padding-right: 2%;">
          <!-- Recipe Logo -->
          <img
          src="{% static 'assets/recipe.png' %}"
          alt=""
          height="40"
          /><br>
          <!-- Recipe Logo -->

          <!-- Link To View All Recipes -->
          <a href='/recipes' style="color: aliceblue;">View All</a>
          <!-- Link To View All Recipes -->

          <br><br>

          <!-- Keyword Search Recipe -->
          <form action="" method="post">
            {% csrf_token %}
              <div class="input-group rounded">
                <label for="Name"></label>
                <input id="Name" type="text" class="form-control rounded"  name="Name" placeholder="Keyword Search Recipe"/>&nbsp
                <!-- <input type="submit" class="btn btn-primary rounded" value="Search"> -->
                <button class="btn btn-primary rounded" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
          </form>
          <!-- Keyword Search Recipe -->

          <hr>
          <!-- Buttons trigger collapse -->
          <a
          data-mdb-toggle="collapse"
          href="#collapseExample"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
          style="font-size: medium; color: lightblue"
          >
            Advanced Search
          </a>

          <!-- Collapsed content -->
          <div class="collapse mt-3" id="collapseExample">
            <!-- Keyword Search Recipe -->
            <form action="" method="post">
              {% csrf_token %}
                <div class="input-group rounded">
                  <label for="Name"></label>
                  <input id="Name" type="text" class="form-control rounded"  name="Name" placeholder="Search Ingredient By Micronutrient"/>&nbsp
                  <button class="btn btn-primary rounded" type="submit" name="search_by_nutrient">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
                <p>If you want more than 10 unit ash but less than 10 unit fiber per 100g ingredient, please search: <br> <b>ash,more than, 10; fiber, less than, 10</b> </p>
            </form>
            <!-- Keyword Search Recipe -->
            <div id="myBtnContainer">
              <!-- <button class="btn active" onclick="filterSelection('all')"> Show all</button> -->
              <!-- <button class="btn btn-primary active" onclick="filterSelection('Macro')"> Macronutrient</button> -->
              <button class="btn btn-primary active" onclick="filterSelection('A-C')"> A-C</button>
              <button class="btn btn-primary" onclick="filterSelection('D-G')"> D-G</button>
              <button class="btn btn-primary" onclick="filterSelection('H-K')"> H-K</button>
              <button class="btn btn-primary" onclick="filterSelection('L-O')"> L-O</button>
              <button class="btn btn-primary" onclick="filterSelection('P-S')"> P-S</button>
              <button class="btn btn-primary" onclick="filterSelection('T-W')"> T-W</button>
              <button class="btn btn-primary" onclick="filterSelection('X-Z')"> X-Z</button>
            </div>
            
            <div class="container" style="padding-top: 20px; font-size:20px; color: lightcyan;">
              <!-- {% for m in macronutrient %}
              <div class="filterDiv badge rounded-pill bg-light text-black Macro" >{{ m }}</div>
              {% endfor %} -->

              {% for m in micronutrient_a %}
              <div class="filterDiv badge rounded-pill bg-light text-black A-C" >{{ m.NutrientName }}</div>
              {% endfor %}

              {% for m in micronutrient_d %}
              <div class="filterDiv badge rounded-pill bg-light text-black D-G" >{{ m.NutrientName }}</div>
              {% endfor %}

              {% for m in micronutrient_h %}
              <div class="filterDiv badge rounded-pill bg-light text-black H-K" >{{ m.NutrientName }}</div>
              {% endfor %}

              {% for m in micronutrient_l %}
              <div class="filterDiv badge rounded-pill bg-light text-black L-O" >{{ m.NutrientName }}</div>
              {% endfor %}

              {% for m in micronutrient_p %}
              <div class="filterDiv badge rounded-pill bg-light text-black P-S" >{{ m.NutrientName }}</div>
              {% endfor %}

              {% for m in micronutrient_t %}
              <div class="filterDiv badge rounded-pill bg-light text-black T-W" >{{ m.NutrientName }}</div>
              {% endfor %}
            
              {% for m in micronutrient_x %}
              <div class="filterDiv badge rounded-pill bg-light text-black X-Z" >{{ m.NutrientName }}</div>
              {% endfor %}
            </div>
          </div>

          <br>
          {% if keyword_entered %}
            {% if recipe_1 and recipe_2 and recipe_3 %}
              <p style="font-family: fantasy; font-size:xx-large;">Recipe Result for {{ keyword_entered }}: </p>
              <div class="row" style="color: black">
                <div class="col-lg-4 col-md-12 mb-4">
                  {% for recipe in recipe_3 %}
                    <div class="card">
                      <a href="{% url 'show_recipe' recipe.RecipeID %}">
                        <img
                        src="{{ recipe.PictureURL }}"
                        class="card-img-top"
                        alt="..."
                        max-height="30px"
                      />
                      </a>
                      <div class="card-body">
                        <h5 class="card-title">{{ recipe.Name }}</h5>
                        <p class="card-text">
                          {{ recipe.AvgRating }}({{ recipe.RatingCount}})
                        </p>
                      </div>
                    </div>
                    <br>
                  {% endfor %}
                </div>
                <div class="col-lg-4 col-md-12 mb-4">
                  {% for recipe in recipe_1 %}
                    <div class="card">
                      <a href="{% url 'show_recipe' recipe.RecipeID %}">
                        <img
                          src="{{ recipe.PictureURL }}"
                          class="card-img-top"
                          alt="..."
                          max-height="30px"
                        />
                      </a>
                      <div class="card-body">
                        <h5 class="card-title">{{ recipe.Name }}</h5>
                        <p class="card-text">
                          {{ recipe.AvgRating }}({{ recipe.RatingCount}})
                        </p>
                      </div>
                    </div>
                    <br>
                  {% endfor %}
                </div>
                <div class="col-lg-4 col-md-12 mb-4">
                  {% for recipe in recipe_2 %}
                    <div class="card">
                      <a href="{% url 'show_recipe' recipe.RecipeID %}">
                        <img
                        src="{{ recipe.PictureURL }}"
                        class="card-img-top"
                        alt="..."
                        max-height="30px"
                      />
                      </a>
                      <div class="card-body">
                        <h5 class="card-title">{{ recipe.Name }}</h5>
                        <p class="card-text">
                          {{ recipe.AvgRating }}({{ recipe.RatingCount}})
                        </p>
                      </div>
                    </div>
                    <br>
                  {% endfor %}
                </div>
              </div>
            {% else %}
              <div>
                <p style="font-family: fantasy; font-size:xx-large; text-align: center;">No Such Recipe</p>
              </div>
            {% endif %}
          {% endif %}
        </div>        
    </div>
  </div>

  {% if recipeInfo %}
      <div class="center">
          <table>
              <tr>
                  <th>Recipe Name</th>
                  <th>Average Rating (#Ratings)</th>
                  <th>Picture</th>
              </tr>
              {% for recipe in recipeInfo %}
              <tr>
                  <td><a href="{% url 'show_recipe' recipe.recipeid %}">{{ recipe.name }}</a></td>
                  <td>{{ recipe.avgrating}} ({{ recipe.ratingcount}})</td>
                  <td><a href="{{ recipe.pictureurl }}"><img src="{{ recipe.pictureurl }}" alt="{{ recipe.name}}" style="width: 40%;"></a><br>                  </td>
              </tr>
              {% endfor %}
          </table>
      </div>
  {% endif %}
{% endblock content %}
