{% extends "./base.html" %}

{% load static %}

{% block content %}
<div style="margin-left: 20%; margin-right: 20%;">
    <div style="background-color: rgba(0, 0, 0, 0.15);">
        <div style="margin-left: 2%; margin-right: 2%;">
            <br>
            <h2>{{ recipe.Name }}</h2><hr>
            <p> Rating: {{ recipe.AvgRating }} ({{ recipe.RatingCount }})</p>
            <a href="{{ recipe.PictureURL }}">
                <img
                src="{{ recipe.PictureURL }}"
                class="img-fluid rounded"
                />
            </a><br><br>
            <ul>
                <li>
                    Author: {{ recipe.Author }}
                </li>
                <li>
                    Description: {{ recipe.description }}
                </li>
                <br>
                <li>
                    Cook Time (Minutes): {{ recipe.cooktimeminutes }}
                </li>
                <li>
                    Preparation Time (Minutes): {{ recipe.preptimeminutes }}
                </li>
                <li>
                    Total Time (Minutes): {{ recipe.totaltimeminutes }}
                </li>
                <br>
                <li>
                    Ingredients:
                    <ul>
                        {% for i in ingredients_list%}
                            {% if i %}
                                <li>{{ i }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    Instructions: {{ recipe.instructions }}
                </li>
            </ul>
        </div>
  </div>
</div>

{% endblock content %}