<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
  </head>
  <style>
    .center {
        margin: auto;
        width: 20%;
        padding: 10px;
        background-color: rgb(255, 255, 255); 
        padding-bottom: 100px;
    }

    .user {
        padding-top: 30px;
    }
    
    .input {
        font-size: 14px;
    }

    .submit {
        margin-bottom: 3%;
        max-width: 60%;
        font-size: 14px;
    }
    
    body {
        font-family: Monaco, monospace;
        font-size: 14px;
    }
  </style>
  <body>
    <p style="text-align: left; padding: 10px;"><img src="https://ranrandy.github.io/title.png" alt='PeopleEatSmart' width="20%"/></p>
    <form action="" method="post">
      {% csrf_token %}
      <div style="text-align: left; padding-left: 30px;">
          <div class="user">
              <label for="UserName">UserName: </label>
              <br>
              <input id="UserName" type="text" name="UserName" class="input" required>
              <br><br>
              <label for="RecipeName">Recipe Name: </label>
              <br>
              <input id="RecipeName" type="text" name="RecipeName" class="input" required>
              <br><br>
              <label for="RatingValue">Rating: (0 - 5)</label>
              <br>
              <input id="RatingValue" type="number" name="RatingValue" class="input" min="0" max="5" required>
              <br><br>
              <label for="Comment">Comment: </label>
              <br>
              <textarea id="Comment" type="text" name="Comment" placeholder="Very Good!" class="input" rows="10" cols="50"></textarea>
              <br>
              <input type="submit" class="submit" value="submit">
          </div>
      </div>
    </form>
  </body>
</html>
