{% extends "../base.html" %}
{% load static %}

{% block content %}

<article>
  <header>
      <style>
  h1 {color:aqua;}
  h1 {text-align: center;}
  p {color:blue;}
</style>
    <h1>Hello {{user.Username}} !</h1>
</article>
<!-- Default checkbox -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value=""
    id="flexCheckDefault"
  />
  <label class="form-check-label" for="flexCheckDefault">
    Default checkbox
  </label>
</div>

<!-- Checked checkbox -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value=""
    id="flexCheckChecked"
    checked
  />
  <label class="form-check-label" for="flexCheckChecked">
    Checked checkbox
  </label>
</div>
    
{% endblock content %}
<form action="" method="post">
  {% csrf_token %}
    <div class="input-group rounded">
      <label for="DietType"></label>
      <input id="DietType" type="text" class="form-control rounded"  name="DietType" placeholder="Enter DietType"/>&nbsp
      <!-- <input type="submit" class="btn btn-primary rounded" value="Search"> -->
      <input id="Calories" type="int" class="form-control rounded"  name="Calories" placeholder="Enter Calories"/>&nbsp
      <input id="UserName" type="text" class="form-control rounded"  name="UserName" placeholder="Enter UserName"/>&nbsp
      <button class="btn btn-primary rounded" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </div>
</form>
<p>Valid DietTypes</p>
<p>{{ DietTypes }}</p>
<p>{{ dietInfo}}</p>
<p>Macro info according to diettype and calories</p>
<p>{{ Macros}}</p>
{% endblock content %}
