{% extends "../base.html" %}
{% load static %}

{% block content %}

<article>
  <header>
      <style>
  h1 {color:aqua;}
  h1 {text-align: center;}
  p {color:blue;}
</style>
    <h1>Hello {{user.Username}} !</h1>
</article>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
    
<form action="" method="post">
  {% csrf_token %}
    <div class="input-group rounded">
      <label for="DietType"></label>
      <input id="DietType" type="text" class="form-control rounded"  name="DietType" placeholder="Enter DietType"/>&nbsp
      <!-- <input type="submit" class="btn btn-primary rounded" value="Search"> -->
      <input id="Calories" type="int" class="form-control rounded"  name="Calories" placeholder="Enter Calories"/>&nbsp
      <input id="UserName" type="text" class="form-control rounded"  name="UserName" placeholder="Enter UserName"/>&nbsp
      <button class="btn btn-primary rounded" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </div>
</form>
<p>Valid DietTypes</p>
<p>{{ DietTypes }}</p>
<p>{{ dietInfo}}</p>
<p>Macro info according to diettype and calories</p>
<p>{{ Macros}}</p>
{% endblock content %}
