{% extends "../base.html" %}
{% load static %}

{% block content %}

<article>
    {% csrf_token %}
  <header>
      <style>
  h1 {color:aqua;}
  h1 {text-align: center;}
  p {color:blue;}
</style>
    <h1>Hello {{user.username}} !</h1>
</article>

<table class="table align-middle">
    {% csrf_token %}
  <thead>
    <tr class ="table-primary">
      <th scope="col"></th>
      <th scope="col">User Name</th>
    </tr>
  </thead>
  <tbody>
    <tr class ="table-secondary">
      <th scope="row">Information</th>
      <td>{{user.username}}</td>
    </tr>
  </tbody>
</table>


<form action="" method="post">
  {% csrf_token %}
    <div class="input-group rounded">
      <label for="DietType"></label>
      <input id="DietType" type="text" class="form-control rounded"  name="DietType" placeholder="Enter DietType"/>&nbsp
      <!-- <input type="submit" class="btn btn-primary rounded" value="Search"> -->
      <input id="Calories" type="int" class="form-control rounded"  name="Calories" placeholder="Enter Calories"/>&nbsp
      <button class="btn btn-primary rounded" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </div>
</form>
<p>Valid DietTypes</p>
<p>{{ DietTypes }}</p>
<p>{{ dietInfo}}</p>
<p>Macro info according to diettype and calories</p>
<p>{{ Macros}}</p>

<div style="margin-left: 20%; margin-right: 20%;">
  <div style="background-color: rgba(0, 0, 0, 0.15); padding-left: 2%; padding-right: 2%; color: black;">
    <br>
    <img
      border: 1px solid #ddd;
      src="{% static 'assets/MyReviews.png' %}"
      alt=""
      width = "400"
      height="40"
      />
    <hr>
    {{test}}
    {% if ratingInfo %}

        <table class="table align-middle">
        <thead>
            <tr class="table-light">
            <th scope="col">Recipe Name</th>
            <th scope="col">RatingID</th>
            <th scope="col">Rating Value</th>
            <th scope="col">Comment</th>
            </tr>
        </thead>
        <tbody>
            {% for temp in ratingInfo %}
            <tr class="table-light">
            <td>{{ temp.Name }}</td>
            <td>{{ temp.ID }}</td>
            <td>{{ temp.RatingValue }}</td>
            <td>{{ temp.COMMENT }} cal</td>
            </tr>
            {% endfor%}
        </tbody>
        </table>
    {% else %}
        <div>
        <p style="font-family: fantasy; font-size:xx-large; text-align: center;">You have not rated any recipe yet...</p>
        </div>
    {% endif %}
</div>

{% endblock content %}
