{% extends "../base.html" %}
{% load static %}

{% block content %}
    <br><br><br><br><br><br><br>
    <div style="margin-left: 40%; margin-right: 40%; font-size: large; text-align: center;">
        <form action="/user-login/" method="post">
            {% csrf_token %}
            <img class="mb-4" src="{% static 'assets/logo_heavy_green.png' %}" alt="" height="40"><br>
            
            <label>{{ form.username.label }}:</label><br>{{ form.username }}<br><br>
            <label>{{ form.password.label }}:</label><br>{{ form.password }}<br><br>
            <!-- {% if wrong_password %}
                <p style="color: red;"> Your password is incorrect </p>
                <p> this is not working </p>
            {% endif %} -->
            <!-- {% if not valid_user %}
                    <p style="color: red;"> Your username doesn't exist </p>
            {% endif %} -->
            <button class="w-10 btn btn-primary" type="submit">Log in</button>
        </form>
    </div>
{% endblock content %}